body, md-content, .jumbotron {
  background-color: #1e1a19;
  color: #b16a49;
}


/* Bootstrap Panel layout */
.panel {
  background-color: #323232;
  border: 1px solid #222;
  color: #af8d54;
}

.panel .panel-heading {
  font-weight: bold;
  background-color: #b16a49;
  border-bottom: 1px solid #b16a49;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}

.panel .panel-body {
  padding: 0;
}

.panel .panel-body.book-description {
  padding: 5px 10px 5px 10px;
}

.panel ul {
  list-style: none;
  padding: 8px;
  margin: 0;
}

.panel ul:nth-child(even) {
  background-color: #222;
}

.panel a, .panel a:hover, .panel a:visited, .panel a:active {
  color: #af8d54;
  text-decoration: none;
}

/* Utility classes */
.front-page {
  height: 200px;
}

.book-list {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

.small-text {
  font-size: 0.9em;
  color: #666;
  text-transform: none;
}

.white {
  color: white;
}

.float-right {
  float: right;
}

/* Rating */
.book-rating {
  padding: 5px 10px 5px 10px;
}

.book-rating .stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 1.2em;
}

.book-rating .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.book-rating .stars-inner::before {
  content: "\f005  \f005  \f005  \f005  \f005";
  color: #f8ce0b;
  z-index: 100;
}


/* Main Navigation Angular Material */
md-toolbar {
  margin-bottom: 20px;
}

.md-toolbar-tools {
  background-color: #b16a49;
  font-weight: bold;
}

.md-toolbar-tools .md-button {
  font-weight: bold;
}

.md-toolbar-tools .white {
  color: white;
}

.md-toolbar-tools .material-icons {
  cursor: pointer;
}

.md-toolbar-tools .mobile-show {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .md-toolbar-tools .mobile-hide { display: none; }
  .md-toolbar-tools .mobile-show { display: block; }
}
